body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background-color: #0B172A;
    color: #FFFFFF;
}

.logo{
    width: 300px;
    padding: 5px;
}

.self-portrait{
    height: 228px;
    width: auto;
    padding: 0px 5px 0px 20px;
}

.item{
    padding: 10px;
}

.item a{
    text-decoration: none;
    color: #ffffff;
}

.item:hover{
    font-size: 1.2rem;
}

.card a{
    color: #ffffff;
}

.card a:hover{
    font-size: 1.2rem;
    text-decoration: underline;
}

.navigation-items li {
    list-style-type: none;
}

.card-container{
    padding: 5px;
}
.card{
    background-color: #BC4123;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    transition: 0.3s;
    padding: 15px;
}
h4{
    display: flex;
    justify-content: center;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

footer{
    background-color: #BC4123;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

.contact-header{
    padding: 15px 0px 0px 0px;
}

footer ul{
    padding: 0px 0px 20px 20px;
}

footer ul li {
    list-style-type: none;
    display: flex;
}

footer ul li:hover{
    font-size: 1.2rem;
    text-decoration: none;
}
footer ul li a{
    text-decoration: none;
    color: #ffffff;
}